html {
  min-width: 230px;
}

body {
  min-width: 230px;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-family: "Exo-Regular", sans-serif;
  color: #242424;
  background: url('../../assets/images/init/main-bg.png') repeat;
  box-sizing: border-box;
}

.app-wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


/*
 ---------------------------------
* SIDEBAR
 ---------------------------------
*/
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #363740; /*#202b36*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__header{
  padding: 20px 20px 20px;
}

.sidebar__logo {
  text-align: center;
}

.sidebar__nav {
  height: calc(100vh - 155px);
}

.sidebar__nav::-webkit-scrollbar-track-piece {
  width: 6px;
  background-color: #50525d !important;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

.sidebar__nav-list {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar__nav-list::before {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  height: 1px;
  background-color: #4f4f5b;
  left: 25px;
  bottom: 0;
}

.sidebar__nav-list-item {
  padding: 0 10px;
}

.sidebar__nav-list-item-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1rem !important;
  color: #dadada;
  padding: 15px 10px 15px 42px;
  border-radius: 25px;
  /*transition: all .3s linear;*/
  background-color: transparent;
}

.sidebar__nav-list-item-link:hover{
  background-color: #3f4046;
  color: #fff;
}

.sidebar__nav-list-item-link.active {
  background-color: #50525d;
  color: #dadada;
}

.sidebar__nav-list-item-link>i[class*="icon-"] {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  -webkit-mask-size: 20px 20px;
  position: absolute;
  left: 18px;
  top: calc(50% - 10px);
}

.sidebar__footer {
  height: 54px;
  margin-top:  auto;
  text-align: center;
  padding: 20px 20px 20px;
  background-color: #50525d;
  color: #b7bebf;
}

.sidebar__footer .webmaster {
  font-family: "Exo-Bold", sans-serif;
  color: #b7bebf;
}

.sidebar__footer .webmaster:hover{
  color: #f1902c;
}

.webmaster-logo {
  display: none;
}

.sidebar__btn {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #363740;
  box-shadow: 0px 0px 3px 0px #00000073;
  border-radius: 100%;
  bottom: 100px;
  right: -15px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
  border: none;
  z-index: 999;
}

.sidebar__btn::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #fff;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  transform: rotate(45deg);
  border-top-color: transparent;
  border-right-color: transparent;
}

.app-mode-reduce .sidebar__btn::before {
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #fff;
  border-right-color: #fff;
}


.app-mode-reduce .sidebar {
  width: 80px;
}

.app-mode-reduce  .sidebar__nav-list-item-link-text {
  display: none;
}

.app-mode-reduce .sidebar__nav-list-item-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-mode-reduce .sidebar__nav-list-item-link>i[class*="icon-"] {
  left: calc(50% - 10px);
}

.app-mode-reduce .sidebar__footer {
  padding: 12px 12px 12px;
}

.app-mode-reduce .sidebar__footer-text {
  display: none;
}

.app-mode-reduce .webmaster-logo {
  display: inline-block;
  width: 30px;
}

@media(max-width: 960px) {
  .sidebar::after{
    content: "";
    position: fixed;
    display: block;
    width: calc(100% - 250px);
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #36374066;
    z-index: 998;
  }

  .app-mode-reduce .sidebar::after {
    display: none;
  }

  .dashboard .app-content {
    width: calc(100% - 80px) !important;
  }

  .header {
    width: calc(100% - 80px) !important;
    left: 80px !important;
  }
}

@media(max-width: 640px) {
  .app-mode-reduce .sidebar {
    width: 0 !important;
  }
  .app-mode-reduce .dashboard .app-content,
  .app-mode-reduce .header {
    width: 100% !important;
    left: 0 !important;
  }
  .app-mode-reduce .sidebar__header,
  .app-mode-reduce .sidebar__footer {
    display: none;
  }
}

/*
 ---------------------------------
* App-Content
 ---------------------------------
*/
.dashboard .app-content {
  position: relative;
  width: calc(100% - 250px);
  margin-left: auto;
  min-height: 100vh;
}

.app-mode-reduce .dashboard .app-content {
  width: calc(100% - 80px);
}


/*
 ---------------------------------
* Header
 ---------------------------------
*/

.header {
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  right: 0;
  left: 250px;
  z-index: 100;
}

.app-mode-reduce .header{
  width: calc(100% - 80px);
  left: 80px;
}

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 0px 2px 3px 0px #191f2569;
  /*transition: all .5s linear;*/
}

.header__menu-btn:hover {
  background-color: #f1902c;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
  min-width: 100px;
}

.header__right-item {
  margin-left: 10px;
}

.header__alert-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 1px #e6e3e3;
  background-color: #fff;
}

.header__alert-btn>i {
  position: absolute !important;
  top: calc(50% - 9px) !important;
  left: calc(50% - 8px) !important;
}

.header__alert-num {
  display: none;
  width: 16px;
  height: 16px;
  background-color: #ff6347;
  border-radius: 100%;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 0.6rem;
  position: absolute;
  right: -8px;
  top: -8px;
}

.header__alert-btn.active {
  border-color: #ff6347;
}

.header__alert-btn.active>i {
  background-color:  #ff6347;
}
.header__alert-btn.active .header__alert-num {
  display: inline-block;
}

.header__alert-list-item-link {
  display: block;
  padding: 8px 35px 8px 25px;
  text-align: left;
  color: #ababab;
  border-bottom: solid 1px #e6e3df;
  transition: all .5s linear;
}

.header__alert-list-item-link:hover {
  color: #f1902c;
}

.header__alert-list-item-link>.num {
  position: absolute;
  line-height: 16px;
  font-size: 0.7rem;
  right: 0;
  top: calc(50% - 8px);
}

.header__alert-list-item:last-child>.header__alert-list-item-link {
  border-bottom: none;
}

.header__user {
  margin-left: auto;
}

.header__user-btn {
  border: none;
  background-color: transparent;
  padding-right: 15px;
  border-radius: 20px;
}

.header__user-btn::after {
  content: "";
  position: absolute;
  border-top: solid 5px #9e9e9e;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  top: calc(50% - 2.5px);
  right: 0;
}

.header__user-btn:hover {
  background-color: #c9cfd069;
}

.header__user-btn:hover::after {
  border-top-color: #f1902c;
}

.header__user-avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 100%;
  background-color: #e6e3df;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
}



/*
 ---------------------------------
* Main
 ---------------------------------
*/
.dashboard .main {
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}




/*
 ---------------------------------
* PageHead
 ---------------------------------
*/
.pg-head-title {
  margin-bottom: 0;
}

.pg-head-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
}

.pg-head-title>[class*="icon-"] {
  background-color: #000;
}


/*
*----------------------------------
* => page-content-filter
*----------------------------------
*/

.page-content-filter {
  margin-bottom: 15px;
}

.page-content-filter__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.page-content-filter__list-item {
  margin-bottom: 15px;
  margin-left: 15px;
}

.page-content-filter__list-item:first-child {
  margin-left: 0;
}

.page-content-filter__list-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 35px;
  border-radius: 25px;
  padding: 8px 8px;
  border: solid 1px #3f4046;
}

.page-content-filter__list-item-link .text {
  color: #3f4046;
}

.page-content-filter__list-item-link .num {
  font-size: 0.7rem;
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  padding: 5px;
  min-width: 25px;
  text-align: center;
}

.page-content-filter__list-item-link.b--red .num {
  background-color: #ff4c5d;
}

.page-content-filter__list-item-link.b--green .num {
  background-color: #18960c;
}


