/*
*----------------------------------
* => LOGIN
*----------------------------------
*/
.login .app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.pg-login {
  display: flex;
  width: 800px;
  min-height: 500px;
  background-color: #fff;
  background-image: url('../images/init/login.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -395px;
  box-shadow: 0 0 4px #00000040;
  border-radius: 8px;
  overflow: hidden;
}

.pg-login__inner {
  width: 445px;
  min-height: 500px;
  margin-left: auto;
  background-color: #fff;
}

.pg-login__head{
  padding-top: 70px;
}

.pg-login__title {
  text-align: center;
}

.pg-login__body {
  padding: 30px 70px 10px 70px;
}

@media (max-width: 880px) {
  .login .app-content {
    width: calc(100% - 40px);
    margin: auto;
  }

  .login main {
    width: 100%;
  }

  .pg-login {
    width: 100%;
    background-size: auto 100% ;
  }
}

@media (max-width: 730px) {
  .pg-login {
    background-image: none;
  }
  .pg-login__inner {
    width: 100%;
  }
}

@media (max-width: 500px) {

  .pg-login {
    min-height: 300px;
  }

  .pg-login__inner {
    min-height: 300px;
  }

  .pg-login__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}



/*
*----------------------------------
* => Page 404
*----------------------------------
*/
.pg-error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-error__inner {
  width: 70%;
  min-height: 350px;
  background-color: #fff3;
  padding: 35px 25px;
}
.pg-error h1 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 35px;
}

.pg-error h1 .title__sub-title {
  color: #e70e4f;
}

.pg-error__text {
  text-align: center;
  font-size: 1.5rem;
  color: #8a8585;
}


/*
*----------------------------------
* => Dashboard
*----------------------------------
*/

.pg-dashboard .cpn-plaque{
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-dashboard .cpn-plaque .welcome-text {
  font-size: 4rem;
  line-height: 4rem;
  font-family: "Exo-Bold", sans-serif;
  color: #2c2a2a;
  text-align: center;
  display: inline-block;
}

.cpn-grids__list[class*="cpn-grids--"] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cpn-grids__list.cpn-grids--x1 .cpn-grids__item {
  width: 100%;
}

.cpn-grids__list.cpn-grids--x2 .cpn-grids__item {
  width: calc(50% - 8px);
  margin-bottom: 10px;
}

.cpn-grids__list.cpn-grids--x3 .cpn-grids__item {
  width: calc(33.33% - 8px);
  margin-bottom: 10px;
}


/*
*----------------------------------
* => NEWS
*----------------------------------
*/
.pg-messages [class*="cpn-status-round"]{
  position: absolute;
  top: 5px;
  left: 2px;
}


/*
*----------------------------------
* => Product
*----------------------------------
*/
.pg-product .cpn-plaque {
  padding: 5px 5px;
}

.product-card {
  width: 100%;
  max-width: 800px;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 0 0 2px 2px #877d7d26;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.product-card__inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.product-card__btn {
  position: absolute;
  top: -4px;
  right: 0px;
  background-color: transparent;
}

.product-card__btn:hover>i {
  background-color: #f1902c;
}

.product-card__image {
  width: 300px;
  height: 300px;
  background-color: #f4f4f4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__infos {
  padding-top: 15px;
  padding-left: 8px;
}

.product-card__infos-name {
  font-size: 1.3rem;
  font-family: "Exo-Semi-Bold", sans-serif;
  color: #1b235a;
  margin-bottom: 15px;
}

.product-card__infos-row {
  margin-bottom: 10px;
  font-size: 1rem;
}

.product-card__infos-row>.label {
  font-size: 0.8rem;
  font-family: "Exo-Semi-Bold", sans-serif;
  color: #717171;
  border-bottom: solid 1px #ddd;
  display: inline-block;
  margin-right: 8px;
}

.product-card__description {
  width: 100%;
  padding-top: 12px;
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #717171;
  text-align: justify;
}

.pg-characteristics__item {
  display: flex;
  align-items: center;
}

.pg-characteristics__item-btn {
  background-color: transparent;
  margin-left: 8px;
}

.pg-characteristics__item-btn:hover>i {
  background-color: #f1902c;
}


/*
*----------------------------------
* => Orders
*----------------------------------
*/

.pg-order .cpn-plaque__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3px;
}

.pg-order__user {
  width: 300px;
  margin-bottom: 15px;
}

.pg-order__order-products {
  width: calc(100% - 320px);
  margin-bottom: 15px;
}

.pg-order__user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 5px auto 20px;
}

.pg-order__user-infos {
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
}

.pg-order__user-infos-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pg-order__user-infos-row>.label {
  display: inline-block;
  width: 30px;
  min-height: 12px;
  margin-right: 5px;
}

@media(max-width: 767px) {
  .pg-order .cpn-plaque__inner {
    flex-direction: column;
  }

  .pg-order__order-products {
    width: 100%;
  }
}

@media(max-width: 350px) {
  .pg-order__user {
    width: 100%;
  }
}


/*
*----------------------------------
* => NEWS
*----------------------------------
*/

.pg-news-detail-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.pg-news-detail-head-infos {
  width: calc(100% - 400px);
  margin-bottom: 15px;
}

.pg-news-detail-head-statistic {
  width: 300px;
  margin-bottom: 15px;
}

.pg-news-detail__date {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #9f9e9e;
}

.pg-news-detail__date>i {
  margin-right: 6px;
}

.pg-news-detail__img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 450px;
  overflow: hidden;
  margin-bottom: 12px;
}

.pg-news-detail__content {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #717171;
  text-align: justify;
}


/*
*----------------------------------
* => CONFIG
*----------------------------------
*/
.pg-config__type-subscription {
  color: #494b9c;
  margin-bottom: 8px;
}


/*
*----------------------------------
* => PROFILE
*----------------------------------
*/

.pg-profile__body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
}

.pg-profile__btn-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pg-profile__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d2d2d2;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-profile__infos {
  padding-top: 50px;
  padding-left: 20px;
}

.pg-profile__infos-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.pg-profile__infos-row>.label {
  width: 30px;
}

.pg-profile__infos-row--name {
  font-size: 1.2rem;
  font-family: "Exo-Semi-Bold", sans-serif;
  margin-bottom: 15px;
}

.pg-profile__password {
  width: 100%;
  padding-top: 10px;
  border-top: solid 1px #d2d2d2;
  text-align: center;
}